{% extends 'products/base.html' %}
{% block body %}
<!---->
<h1> наименование: {{ product.name }}</h1>
<h3>вес: {{ product.weight }} кг</h3>
<h3>код из 1С: {{ product.id_1C }}</h3>
{#<h3>От кого: {{ product.supplier }}</h3>#}
{#<h3>Кому: {{ product.consumer}}</h3>#}
    <a href="{% url 'admin:index' %}"> back</a>
{% if error_message %}
    <p><strong> {{ error_message }} </strong></p>
{% endif %}

{#<form action="{% url 'music:favorite' album.id %}" method="post">#}
{#    {% csrf_token %}#}
{#    {% for song in album.song_set.all %}#}
{#        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">#}
{#        <label for="song{{ forloop.counter }}">#}
{#            {{ song.song_title }}#}
{#            {% if song.is_favorite %}#}
{#                <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-128.png" alt="" style="width:16px">#}
{#            {% endif %}#}
{#        </label><br>#}
{#    {% endfor %}#}
{#    <input class="btn btn-success" type="submit" value="favorite">#}
{#</form>#}
{% endblock %}